html, body, #root {
  margin: 0;
  padding: 20;
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

/* Dark overlay */
.App::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Make content appear above overlay */
.App > * {
  position: relative;
  z-index: 1;
}

.App-header {
  padding: 20px;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}



h1, p {
  color: white;
  text-align: center;
  padding:40px;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: #61dafb;
  color: #000;
  font-weight: bold;
}
